POSTGRES_USER=hackathon
POSTGRES_PASSWORD=123
POSTGRES_DB=hackathon
JWT_SECRET_KEY=dev-secret-key
JWT_EXPIRE_MINUTES=60

# for docker interaction
DATABASE_URL=postgresql+asyncpg://hackathon:123@hackathon-server-postgres:5432/hackathon 

# for local development
# DATABASE_URL=postgresql+asyncpg://hackathon:123@localhost:5436/hackathon
